<!DOCTYPE html>
<html>
<head>
<include src="head.html" />
</head>
<body>
	<igroup>
		<label><input type="radio" value="title" name="1" checked>名称</label>
		<label><input type="radio" value="artistName" name="1">艺术家</label>
		<label><input type="radio" value="year" name="1">年份</label>
	</igroup>    
	<h1>${hello}</h1>
	<ol for="u:users">
		<li id="${index}" cc_class="{true:odd,false:even}(index%2==0)">${u}</li>
	</ol>
	<ol for="u:users" if="users==null">
		<li><h2>${u}</h2></li>
	</ol>
	<ol else_if="users!=null">
		<li repeat="u:users"><h2>Hello ${u}</h2></li>
	</ol>
	<ol for="u:users" else>
		<li><h2>Hi ${u}</h2></li>
	</ol>
	<include src="footer.html"/>
</body>
<script>
alert("EHLHLHLHLH");
</script>
</html>